<%= render 'static_pages/slider'%>
				<!-- menu Start -->

				<div class="menu padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<%= image_tag "crown.png",class: "img-responsive"%>
							<!-- Heading -->
							<h2>Menu</h2>
							<!-- Paragraph -->
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<!-- Menu content container -->
						<div class="menu-container">
							<div class="row">
							<% @categories.each do |category|%>
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<%= image_tag category.category_image.url,class: "img-responsive"%>
										<!-- Menu title / Heading -->
										<h3><%= category.title%></h3>
										<!-- Border for above heading -->
										<div class="title-border br-red"></div>
									</div>
									<!-- Menu item details -->
<!-- 									<div class="menu-details br-red">
										<ul class="list-unstyled">
										<%# category.foods.each do |product|%>
											<li>
												<div class="menu-list-item">

													<i class="fa fa-angle-right"></i>
													<%#= link_to product.name,food_path(product)%>

													<span class="pull-right">$<%#= product.price%></span>
													<div class="clearfix"></div>
												</div>
											</li>
										<%#end%>
										</ul>
									</div> --><!-- / Menu details end -->
								</div>
							<%end%>
							</div>
						</div> <!-- /Menu container end -->
					</div>
				</div>

				<!-- Menu End -->


