			<!-- Banner Start -->
			
			<div class="banner padd">
				<div class="container">
					<!-- Image -->
					<%= image_tag 'crown-white.png',class: 'img-responsive'%>
					<!-- Heading -->
					<h2 class="white">Order Now</h2>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li><a href="items.html">Shopping</a></li>
						<li class="active">Order Now</li>
					</ol>
					<div class="clearfix"></div>
				</div>
			</div>
			
			<!-- Banner End -->
			
			
			
			<!-- Inner Content -->
			<div class="inner-page padd">
			
				<!-- Single Item Start -->
				
				<div class="single-item">
					<div class="container">
						<!-- Shopping single item contents -->
						<div class="single-item-content">
							<div class="row">
								<div class="col-md-4 col-sm-5">
									<!-- Product image -->
									<%= image_tag @food.food_image.url,class: "img-responsive"%>
								</div>
								<div class="col-md-8 col-sm-7">
									<!-- Heading -->
									<h3>Plan Butter Cake</h3>
									<div class="row">
										<div class="col-md-7 col-sm-12">
											<!-- Single item details -->
											<div class="item-details">
												<!-- Paragraph -->
												<p class="text-justify"><%= @food.description%></p>
												<!-- Heading -->
<!-- 												<h5>Ingredients :-</h5>
 -->												<!-- Recipe ingredients -->
<!-- 												<ul class="list-unstyled">
													<li>
														<i class="fa fa-check"></i> Cream <span class="pull-right"> 100g</span>
														<div class="clearfix"></div>
													</li>
													<li>
														<i class="fa fa-check"></i> Suger <span class="pull-right"> 250g</span>
														<div class="clearfix"></div>
													</li>
													<li>
														<i class="fa fa-check"></i> Nam libero et <span class="pull-right"> 1/2 cup</span>
														<div class="clearfix"></div>
													</li>
													<li>
														<i class="fa fa-check"></i> Lam hured ore <span class="pull-right"> 100ml</span>
														<div class="clearfix"></div>
													</li>
												</ul> -->
											</div>
										</div>
										<div class="col-md-5 col-sm-12"> 
											<!-- Form inside table wrapper -->
											<div class="table-responsive">
												<!-- Ordering form -->
												<form role="form">
													<!-- Table -->
													<table class="table table-bordered">
														<tr>
															<td>Price</td>
															<td>$49</td>
														</tr>
														<tr>
															<td>Shipping</td>
															<td>Free</td>
														</tr>
														<tr>
															<td>Delivery Time</td>
															<td>45 Min</td>
														</tr>
														<tr>
															<td>Quantity</td>
															<td><div class="form-group">
																<select class="form-control input-sm">
																	<option>1</option>
																	<option>2</option>
																	<option>3</option>
																	<option>4</option>
																</select>
															</div></td>
														</tr>
														<tr>
															<td>Payment Mode</td>
															<td><div class="form-group">
																<select class="form-control input-sm">
																	<option>Cash on delivery</option>
																	<option>Credit Card</option>
																	<option>Debit Card</option>
																</select>
															</div></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><div class="form-group">
																<button type="submit" class="btn btn-danger btn-sm">Payment</button>
															</div></td>
														</tr>
													</table>
												</form><!--/ Table End-->
											</div><!--/ Table responsive class end -->
										</div>
									</div><!--/ Inner row end  -->
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Single Item End -->
			
				
			</div><!-- / Inner Page Content End -->	
